#mobile_pop_up {
  height:300px;
  width:400px;
  margin:auto;
  background-color:rgba(255,252,252,0.93);
  border-radius:10px;
  /*font-family:"San Francisco", "Helvetica Neue", "Lucida Grande";*/
  font-family:'Source Sans Pro';
  text-align:center;
}

#nav_logo {
  width: 40px;
  height: 40px;
  margin: -40px 10px 0px 10px;
  position: relative;
  top: 30px;
  right: 70px;
}

#nav_logo_reg {
  width:40px;
  margin:-20px 10px 0px 10px;
  position:relative;
  top:10px;
  height:40px;
}

#top_text {
  height:240px;
  border-bottom:1px solid rgba(174,174,174,0.76);
  color:black;
}

#pop-up_bottom_text {
  color:#058cff;
  font-size:30px;
  border-radius:10px;
  transition: background-color 0.5s ease-in-out;
}

#mobile_heading {
  font-weight:400;
  padding:25px 0 5px 0;
  font-family:'Source Sans Pro';
  text-align:center;
}

#mobile_warning {
  font-size:18px;
  font-weight:100;
  width:85%;
  margin-left:auto;
  margin-right:auto;
}

#mobile_warning_tag {
  font-size:18px;
  font-weight:100;
  width:85%;
  margin-left:auto;
  margin-right:auto;
  font-style:italic;
  line-height:17px;
}

#mobile_button {
  margin-top:0px;
  margin-bottom:0px;
  font-size:25px;
  font-weight:400;
  padding:15px 0 19px 0;
}

#pop-up_bottom_text:hover {
  background-color:rgba(255,252,252,0.97);
  transition: background-color 0.5s ease-in-out;
  border-radius:10px;
}

@media (max-width:991px) {
  #text_right_nav {
    display:none;
  }
}

a{
  transition: all 0.5s ease-in-out;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}


.jumbotron .container {
  margin-top:200px;
  margin-left:15%;
}

.jumbotron.jumbo_header {
  height:500px;
  margin-bottom: 50px;
  background-attachment: fixed;
}

.container.article_container {
  padding:20px 40px;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.quote {
  font-size:24px;
  font-family:'Source Sans Pro';
  position:relative;
  float:left;
  top:50px;
  left:50%;
  transform:translate(-50%, -50%);
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
  color:#fff;
  background-color:#e39292 !important;
  border-color:#a15b5b;
}

.btn-info.active, .btn-info:active {
  background-color:#c87b7b;
  border-color:#a15b5b;
}

.btn-info:focus, .btn-info:hover {
  background-color:#c87b7b;
  background-position:0 -15px;
}

.btn-info {
  color:#fff;
  background-color:#5bc0de;
  border-color:#46b8da;
}

.btn-info {
  background-image:-webkit-linear-gradient(top,#e39292 0,#c87b7b 100%);
  background-image:-o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#e39292),to(#c87b7b));
  background-image:linear-gradient(to bottom,#e39292 0,#c87b7b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat:repeat-x;
  border-color:#c87b7b;
}

#hotline_jumbo {
  color:white;
}

p {
  margin:0 0 10px;
  font-family:'Source Sans Pro';
  font-size:larger;
}

.jumbotron p {
    font-weight: 500;
    font-size: 26px;
}

ol, ul {
    font-family: 'Source Sans Pro';
    font-size: larger;
}

#print-ads{
  padding:50px 0px;
}

#parents_header {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:0 80%;
  background-image:url("../../assets/img/london-scout-41030.jpg");
}

#safety-tips p {
  font-size:20px;
}

#safety-tips ol, ul {
  font-size:20px;
}

#safety-tips li {
  padding:10px;
}

#safety-tips {
    width: 800px;
}

.container.article_container {
    padding: 20px 40px;
}

#parents_quote {
  top:100px;
  width:900px;
}

.quote_para {
  font-size:24px;
}

#safety-tips {
  width:800px;
}

.story_quote {
  font-size:24px;
  font-family:'Source Sans Pro';
  vertical-align:middle;
}

.container.testimonial {
  font-size:18px;
}

.story_icon {
  width:200px;
  border-radius:50%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.testimonial .profile {
  text-align:center;
}

.testimonial .flex-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-image: -webkit-linear-gradient(top,#c87b7b 0,#c87b7b 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c87b7b),to(#c87b7b));
    background-image: linear-gradient(to bottom,#c87b7b 0,#c87b7b 100%);
    color: white !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #c87b7b;
    outline: 0;
}

.navigation-clean-button .dropdown-menu > .active > a:focus, .navigation-clean-button .dropdown-menu > .active > a:hover {
    background: #c87b7b;
    color: inherit;
}

#home_header {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center 70%;
  background-image:url("../../assets/img/fake_nude.jpg");
}

#helpline_header_image{
  background-image:url("../img/priscilla-du-preez-101757.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 0 40%;
}

#campaign_header_image{
    background-image: url("../img/christal-yuen-69722.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 70%;
}

#stories_header_image{
    background-image: url("../img/matthew-henry-794.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 100%;
}